modules = ["python-3.11", "nodejs-20"]

[nix]
channel = "stable-25_05"
packages = ["android-tools", "cargo", "libiconv", "openjdk", "rustc"]

[workflows]
runButton = "Start Task Manager"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "web_server"

[[workflows.workflow]]
name = "web_server"
author = "amaan"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd /home/runner/workspace/batman/batman/EAGLE && python web_app.py"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow]]
name = "Start Task Manager"
author = 47869978
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd /home/runner/workspace/batman/batman/EAGLE && python main.py"

[[ports]]
localPort = 5000
externalPort = 80

[agent]
expertMode = true
